*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
    background-color: beige;
    width: 100%;
}
h1{
    color: red;
    font-size: medium;
    text-align: center;
    text-decoration: underline;
}
#reg{
    height: 25px;
    width: 73px;
    background-color: green;
    color: white;
}
.speci{
    display: flex;
}