*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    background-image: url(images/Back-ground-img.png);
}
.container{
    width: 90%;
    margin: 0px auto;
}
.nav-bar{
    display: flex;
    width: 100%;
}
.nav-bar .logo img{
    border-radius: 50%;
}

.logo{
    width: 50%;
}
.nav-link{
    width: 80%;
}
.nav-link .ul{
    margin: 0px auto;
    padding: 30px;
    
}
.nav-link .ul .li{
    display: inline-block;
    justify-content: space-between;
    margin: 10px;
}
.nav-link .ul a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
.logo2{
   padding: 30px;
    display: none;
}
#logo-2{
    padding: 30px;
    display: none;
}
.djava{
    width: 80%;
    display: none;
}
#display-java {
    display: none;
}